{
    "cSpell.userWords": [
        "spacepotato",
        "stoutenburgh"
    ],
    "editor.bracketPairColorization.enabled": true,
    "editor.bracketPairColorization.independentColorPoolPerBracketType": true,
    "editor.fontFamily": "'CaskaydiaCove Nerd Font', Cascadia Code, Consolas, 'Courier New', monospace",
    "editor.guides.bracketPairs":"active",
    "editor.inlayHints.fontFamily": "Cascadia Code, Consolas, 'Courier New', monospace",
    "editor.rulers": [ 80, 120 ],
    "editor.tabCompletion": "on",
    "editor.tabSize": 2,
    "files.insertFinalNewline": true,
    "files.trimTrailingWhitespace": true,
    "git.autofetch": true,
    "python.linting.pydocstyleEnabled": true,
    "redhat.telemetry.enabled": false,
    "telemetry.enableTelemetry": false,
    "telemetry.telemetryLevel": "off",
    "terminal.integrated.copyOnSelection": true,
    "[terraform]": {
        "editor.defaultFormatter": "hashicorp.terraform",
        "editor.formatOnSave": true
    },
    "terraform-ls.experimentalFeatures": {
        "validateOnSave": true
    },
    "todo-tree.general.debug": true,
    "todo-tree.general.tags": [
        "BUG",
        "HACK",
        "FIXME",
        "TODO",
        "XXX",
        "[ ]",
        "[x]"
    ],
    "todo-tree.regex.regex": "(//|#|<!--|;|/\\*|^|^\\s*(-|\\d+.))\\s*($TAGS)"
}
